.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.svg
*.tmp
*.dist-info
_backup/*
setup.py
automatedTests.py
DO_NOT_COMMIT.md
*.alfredworkflow
workflow/.alfredversionchecked
*.code-workspace
workflow-build.py
requirements/
.DS_Store